<html>
<head>
<title>{{ page.title }} - Nick Kelly</title>
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="/styles/main.css"/>
<link rel="stylesheet" type="text/css" href="/js/fancybox/jquery.fancybox.css"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
<div id="main" class="persist-area">
	<div id="headerb">
		<div id="header">
			<div class="centered">
				<div id="name">
					NICK KELLY
				</div>
				<ul id="nav">
					<li><a href="/">About</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="content">
		{{ content }}
	</div>
</div>
</body>
</html>
