/* == CSS Reset == */
*
{
	margin:0;
	padding:0;
}

/* == Fonts == */

@font-face 
{
	font-family: "OpenSans-Regular";
	src: url('/fonts/OpenSans-Regular.ttf') format("truetype");
}

@font-face
{
	font-family: "OpenSans-SemiBold";
	src: url('/fonts/OpenSans-SemiBold.ttf') format("truetype");
}

@font-face 
{
	font-family: "OpenSans-Light";
	src: url('/fonts/OpenSans-Light.ttf') format("truetype");
}

@font-face
{
	font-family: "OpenSans-Bold";
	src: url('/fonts/OpenSans-Bold.ttf') format("truetype");
}

body
{
}

#main
{
	background:#FFF;
}

#headerb
{
	width:100%;
	height:40%;
	background: #FFF no-repeat 0px 0px;
	background-size:100%;
}

.top-header
{
	position:fixed;
	top:0;
	height:100px !important;
	box-shadow:0 0 20px 12px #FFF;
}

#header
{
	height:100%;
	background:rgba(0, 0, 0, 0.5);
	border-bottom:solid 1px #CCC;
}

#name
{
	position:absolute;
	bottom:0;
	font-family:"OpenSans-Light";
	font-size:48pt;
	color:#FFF !important;
	display:inline-block;
	vertical-align:bottom;
	text-shadow:0 0 1px #FFF;
	text-decoration:none;
}

#nav > li
{
	vertical-align:bottom;
	display:inline-block;
	list-style:none;
}

#nav > li:after, #nav > li:first-of-type:before
{
	width:1px;
	height:35px;
	background: linear-gradient(transparent, white);
	display:block;
	float:right;
	content:'';
}

#nav > li:first-of-type:before
{
	float:left;
}

#nav > li a
{
	color:#FFF;
	font-family:"OpenSans-Light";
	font-size:18pt;
	text-decoration:none;
	display:block;
	float:left;
	padding:0px 20px;
}

#nav > li a:hover
{
	text-shadow:0 0 2px #FFF;
}

.centered
{
	height:100%;
	width:960px;
	margin:0 auto;
	position:relative;
}

#content
{
	width:960px;
	margin:0 auto;
	color:#212121;
	font-family:"OpenSans-Regular";
	font-size:12pt;
	padding:20px 0;
}

#content a
{
	color:#555;
	font-family:"OpenSans-SemiBold";
	text-decoration:none;
	border-bottom:solid 1px #CCC;
}

#content a:hover
{
	color:#333;
	border-bottom:solid 1px #333;
}

h1
{
	font-family:"OpenSans-SemiBold";
	font-size:36pt;
	margin:20px 0;
}

h2
{
	font-family:"OpenSans-SemiBold";
	color:#333;
	font-size:24pt;
	margin:10px 0;
	padding-top:10px;
	border-top:dashed 1px #CCC;
}

h3
{
	font-size:18pt;
	font-family:"OpenSans-SemiBold";
	clear:both;
	margin-top:40px;
}

h4
{
	font-size:14pt;
	font-style:italic;
	color:#888;
	font-family:"OpenSans-Light";
	margin-bottom:10px;
}


p
{
	margin-bottom: 20px;
	line-height:16pt;
}

img.project
{
	float:left;
	border:solid 2px #CCC;
	margin-right:20px;
	margin-bottom:20px;
	height:100px;
}

.proj_tags {
	font-size:14pt;
	font-style:italic;
	color:#888;
	font-family:"OpenSans-Light";
	margin-top:5px;
	margin-bottom:10px;
	display:block;
}

.proj_link {
	list-style:none;
	background:#AAA;
	color:#FFF !important;
	border:0;
	font-style:normal;
	font-size:12pt;
	padding:4px 5px 2px 5px;
	border-radius:2px;
	margin-left:10px;
	display:inline-block;
}

.proj_link:hover {
	background: #333;
}

.project-list
{
	margin-left:20px;
	margin-bottom:20px;
}

.project-list > li
{
	margin-bottom:8px;
}

.large
{
	font-size:18pt;
	line-height:26pt;
}

ul.large
{
	margin-left:24px;
	margin-bottom:24px;
	font-size:16pt;
	line-height:26pt;
}

ul.large > li
{
	list-style:square;
	color: #ccc;
}

.page
{
	border-bottom:dashed 1px #CCC;
	padding-bottom:100px;
	margin-bottom:100px;
}

.social > li
{
	list-style:none;
	display:inline-block;
	margin-right:20px;
}

.social > li a
{
	border:0 !important;
}

.social > li a:hover img
{
	border-radius:4px;
	background:#DDD;
}

/* == Posts == */
.posts li {
	list-style:none;
}

.posts li .title {
	font-size:20pt;
	border:none !important;
	margin-bottom:5px;
}

.posts li .date {
	font-size:14pt;
	font-family:"OpenSans-Light";
	color:#AAA;
	margin-top:5px;
}

.posts li .date a {
	text-decoration:none !important;
	border:0 !important;
	font-size:14pt !important;
	font-family:"OpenSans-Light" !important;
	color:#AAA !important;
}

.posts li .date a:hover {
	color:#555 !important;
}

.posts li .excerpt {
	margin:15px 0;
	font-size:12pt;
	border-bottom:dashed 1px #CCC;
}

.tags {
	margin:5px 0;
}

.tags li {
	list-style:none;
	background:#AAA;
	color:#FFF;
	padding:4px 5px 2px 5px;
	border-radius:2px;
	margin-right:5px;
	display:inline-block;
}

.posting {
	font-size:14pt;
	clear:both;
}

.posting-title {
	float:left;
}

.large-date {
	font-size:20pt;
	margin:20px 0;
	font-family:"OpenSans-Light";
	color:#AAA;
	float:right;
}

@media screen {

#name
{
	position:absolute;
	bottom:0;
	font-family:"OpenSans-Light";
	font-size:48pt;
	color:#FFF !important;
	display:inline-block;
	vertical-align:bottom;
	text-shadow:0 0 1px #FFF;
	text-decoration:none;
}

#nav
{
	display:inline-block;
	position:absolute;
	bottom:0;
	right:0;
}

#nav > li:after, #nav > li:first-of-type:before
{
	width:1px;
	height:35px;
	background: linear-gradient(transparent, white);
	display:block;
	float:right;
	content:'';
}

}

@media handheld {

#name 
{
	position:absolute;
	bottom:64px;
	left:24px;
	font-family:"OpenSans-Light";
	font-size:86pt;
	color:#FFF !important;
	display:inline-block;
	vertical-align:bottom;
	text-shadow:0 0 1px #FFF;
	text-decoration:none;
}

#nav
{
	display:inline-block;
	position:absolute;
	bottom:0;
	left:0;
}

#nav > li:first-of-type a
{
	padding:0px 20px;
}

#nav > li a
{
	color:#FFF;
	font-family:"OpenSans-Light";
	font-size:38pt;
	text-decoration:none;
	display:block;
	float:left;
	padding:0px 32px;
}

#nav > li:after
{
	width:3px;
	height:54pt;
	background: linear-gradient(transparent, white);
	display:block;
	float:right;
	content:'';
}

#content
{
	width:960px;
	margin:0 auto;
	color:#212121;
	font-family:"OpenSans-Regular";
	font-size:12pt;
	padding:20px 0;
}

}
